@charset "UTF-8";
/* --- variables ----*/
/* --- імпорт шрифтів ---*/
@font-face {
  font-family: Prisma Pro;
  src: url(../fonts/PrismaPro.otf); }
* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

body {
  background-color: black;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif; }

p {
  margin-bottom: 10px; }

.content {
  width: 60%;
  margin: 50px  auto; }

#categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 0 auto; }
  #categories svg.svg-0 {
    grid-column: 1/2;
    grid-row: 1/2; }
  #categories #phantom {
    pointer-events: none;
    grid-row: 1/2;
    width: 80%;
    grid-column: 1/2;
    opacity: 0; }

#sale {
  width: 90%;
  margin: 0 auto; }

/* ------- HEADER ANIMATION --------- */
#header {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  font-size: 150px;
  font-family: "Prisma Pro";
  text-align: center !important;
  text-transform: uppercase;
  color: #ff36ad; }
  #header #neon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #header #neon > p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; }
  #header #black {
    color: #fff; }
  #header #black span {
    opacity: 0.2;
    animation: whiteBlink 3.5s linear 1; }
  #header #friday span {
    opacity: 0.2;
    animation: redBlink 3s linear 1; }
  #header #friday span:nth-of-type(3) {
    animation: redBlink1 3s linear 1; }
  #header #friday span:nth-of-type(1) {
    animation: redBlink2 3s linear 1; }
@keyframes whiteBlink {
  0%, 60%, 62%, 63%, 97%, 99%, 100% {
    opacity: .99;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff; }
  61%, 62.5%, 98%, 99.5% {
    opacity: 0.2;
    text-shadow: none; } }
@keyframes redBlink {
  0%, 12%, 18.999%, 23%, 31.999%, 37%, 44.999%, 46%, 49.999%, 51%, 58.999%, 61%, 68.999%, 71%, 85.999%, 96%, 100% {
    opacity: 0.99;
    text-shadow: 0 0 80px #ff36ad, 0 0 30px #008000, 0 0 6px #0000ff; }
  86%, 95.999% {
    opacity: 0.2;
    text-shadow: none; } }
@keyframes redBlink1 {
  0%, 12%, 12.8%, 13.2%, 44.999%, 46%, 49.999%, 51%, 58.94%, 62%, 68.999%, 71%, 85.999%, 96% {
    opacity: 0.99;
    text-shadow: 0 0 80px #ff36ad, 0 0 30px #008000, 0 0 6px #0000ff; }
  12.3%, 13%, 45%, 45.999%, 50%, 50.99%, 59%, 60.39%, 69%, 70.999%, 86%, 95.999%, 100% {
    opacity: 0.2;
    text-shadow: none; } }
@keyframes redBlink2 {
  0%, 48.999%, 61%, 62%, 68.999%, 71%, 85.999%, 96% {
    opacity: 0.99;
    text-shadow: 0 0 80px #ff36ad, 0 0 30px #008000, 0 0 6px #0000ff; }
  50.5%, 95.999%, 100% {
    opacity: 0.4;
    text-shadow: none; } }
/* ----- Select MEnu-------*/
.select {
  cursor: pointer;
  position: relative;
  color: #343434;
  font-size: 12px;
  border: 1px solid #ccc; }

.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 0 10px;
  font-weight: bold; }

.styledSelect:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 9px;
  right: 6px; }

.styledSelect:active, .styledSelect.active {
  background-color: #eee; }

.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0 0;
  padding: 0 0;
  list-style: none;
  border: 1px solid #ccc;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.options li {
  margin: 0 0; }

.options li:hover {
  background-color: #39f;
  color: white; }

.text {
  position: relative;
  width: 60%;
  margin: 70px auto;
  font-family: 'Fira Sans', sans-serif; }
  .text p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 100; }
  .text h2 {
    margin: 0 0 25px 0;
    font-family: 'Montserrat Alternates', sans-serif; }
  .text .block {
    height: 100vh; }
  .text #scroll-chart {
    grid-column: 2/3;
    position: sticky;
    top: 70px;
    height: 50vh; }
  .text #scroll-text {
    grid-column: 1/2;
    grid-row: 1/2; }

/* ----- Buy Me Section  ------ */
#mySticky {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
  margin: 20px auto; }
  #mySticky p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0; }
  #mySticky .buyMe {
    grid-row: 1/2;
    width: 100%;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px; }
  #mySticky #modal-1, #mySticky #modal-2, #mySticky #modal-3 {
    grid-row: 1/2;
    display: none;
    grid-column: 2/4; }
  #mySticky #textForSticky p {
    margin-top: 10px;
    font-family: "Arial", sans-serif;
    line-height: 1.6; }
  #mySticky .prod {
    background-color: #0f0f0f;
    line-height: 1.8;
    color: white;
    font-size: 18px;
    height: max-content; }
  #mySticky .prod img {
    width: 100%; }
  #mySticky .prod p {
    padding-left: 10px;
    text-align: left; }
  #mySticky .price-container {
    display: flex;
    justify-content: space-between; }
  #mySticky .price-old {
    font-weight: 100;
    color: #ff36ad;
    font-size: 20px;
    text-decoration: line-through; }
  #mySticky .current-price {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 20px;
    margin-right: 10%; }
  #mySticky .buy-button {
    width: max-content;
    padding: 0 5px;
    margin: 5px auto 15px auto;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    font-size: 13px; }
  #mySticky .first-blink {
    background-color: #ff36ad;
    animation: buy 0.5s linear 50; }
@keyframes buy {
  0%, 100% {
    background-color: #ff36ad; }
  50% {
    background-color: grey; } }
  #mySticky .hidden {
    display: none; }
  #mySticky .buyMeChartSvg {
    margin-bottom: 10px; }

/*------ countdown -----*/
.clockdiv {
  width: 80%;
  margin-left: 10%;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  color: #ff36ad; }

.clockdiv > div {
  padding: 5px;
  border-radius: 3px;
  display: inline-block; }

.clockdiv div > span {
  padding: 5px;
  border-radius: 3px;
  display: inline-block; }

/* ----- SVG small multiples -----*/
.line, .scrollChartLine {
  fill: none;
  stroke: #ff36ad;
  stroke-width: 1px;
  z-index: 10; }

.lineOld, .scrollChartLineOld {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  stroke-dasharray: 3; }

.area {
  fill: #e8eef4; }

.small-multiples {
  background-color: #020202; }

g.tick > line {
  stroke: #0f0f0f;
  z-index: 5; }

#chart svg {
  margin-bottom: 60px;
  margin-left: 5%; }

g#xAxisG text, g#yAxisG text {
  stroke: none;
  fill: silver;
  font-size: 9px; }

header, div#source {
  margin-left: 40px;
  margin-bottom: 38px; }

.focus circle {
  fill: none;
  stroke: #ff36ad; }

.focus2 circle {
  fill: none;
  stroke: white; }

.overlay {
  fill: none;
  pointer-events: all; }

.tooltip {
  padding: 4px;
  font-size: 12px; }

#area-chart {
  position: relative;
  margin-left: 100px;
  width: calc(100% - 50px);
  height: calc(400px + 50px); }

.node {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  opacity: 0.9; }

.node-label {
  padding: 4px;
  line-height: 1em;
  white-space: pre;
  color: black;
  font-size: 12px; }

.node-value {
  padding: 4px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 9px;
  margin-top: 1px; }

/*# sourceMappingURL=application.css.map */
